.dashboard {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.total-clicks {
    margin-bottom: 2rem;
}

.total-clicks h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin: 0;
    display: inline-block;
    margin-right: 1rem;
}

.click-count {
    font-size: 2rem;
    font-weight: 600;
    color: #1B48DA;
}

.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.chart-card {
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    height: 60vh;
    border: 1px solid #ECECF2;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.chart-card h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #1B48DA;
    margin: 0 0 1.5rem 0;
}

.chart-wrapper {
    height: 200px;
}

.custom-tooltip {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-tooltip p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

@media (max-width: 768px) {
    .dashboard {
        padding: 1rem;
    }
    .charts-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .chart-card {
        padding: 1rem;
        height: fit-content;
    }
}