.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.navbar-content {
    width: 100%;
    height: 15%;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.sidebar-content {
    display: flex;
    width: 15%;
    border-right: 1px solid #ececf2;
    border-bottom: 1px solid #ececf2;
}

.page-content {
    flex-grow: 1;
    padding: 20px;
    width: 85vw;
    position: fixed;
    right: 0;
}

@media screen and (max-width: 768px) {
    .navbar-content {
        width: 100%;
    }
    .main-content {
        display: flex;
        flex-direction: column;
    }
    .sidebar-content {
        position: sticky;
        border: none;
    }
    .page-content {
        width: 100%;
        position: static;
    }
}