.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    width: 85%;
    height: 10%;
    position: fixed;
    top: 0;
}

.navbar-left h2 {
    margin: 0;
    color: #181820;
}

.navbar-left p {
    margin: 0;
    color: #878BA9;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: center;
    box-shadow: 0px 1px 2px 0px #1018280D;
    border: 1px solid #ECECF2;
    border-radius: 6px;
    margin-left: 5px;
    padding-top: 5px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 2px;
    color: #878BA9;
}

.search-bar svg {
    color: #878BA9;
}

.create-button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: white;
    background-color: #1B48DA;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 18px;
    border: 1px solid #1B48DA;
}

.create-button:hover {
    background-color: #0056b3;
}


/* Profile Picture Container */

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FDE48A;
    color: #923E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}


/* Logout Button */

.logout-btn {
    position: absolute;
    top: 100%;
    /* Position it below the profile picture */
    /* left: 50%; */
    transform: translateX(-50%);
    background-color: white;
    color: #878BA9;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8px;
    padding: 10px;
    margin-left: 15px;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid #ECECF2;
    border-radius: 6px;
}

.logout-btn:hover {
    background-color: #181820;
}