/* Sidebar Styles */

.sidebar-container {
    width: 15%;
    background-color: white;
    color: black;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.sidebar-container .resNavbar {
    flex-direction: column;
    width: 100%;
}

.navbar-list {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.navbar-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.navbar-list li a {
    color: #3b3c51;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

.navbar-list li a:hover {
    color: #1b48da;
    background: #f3f7fd;
    border-radius: 6px;
}

.icons {
    width: 24px;
    height: 24px;
}

.icons:hover {
    color: #1b48da;
}


/* Media Queries for Responsive Navbar */

@media screen and (max-width: 768px) {
    .sidebar-container {
        width: 100%;
        border-right: none;
        position: static;
    }
    .resNavbar {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-list {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 0;
    }
    .navbar-list li {
        margin-bottom: 0;
    }
    .navbar-list li a {
        padding: 5px;
        font-size: 14px;
        gap: 5px;
    }
    .icons {
        width: 20px;
        height: 20px;
    }
}