/* Layout Styles */

.layout {
    display: flex;
}


/* Sidebar Styles */

.sidebar {
    width: 15%;
    background-color: white;
    color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #ECECF2;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar.inactive {
    transform: translateX(-100%);
}

.cuvette-image {
    padding: 10px;
}

.dash {
    padding-top: 100px;
    border-bottom: 1px solid #ECECF2;
    padding-left: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #3B3C51;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar ul li a:hover {
    color: #1B48DA;
    background: #F3F7FD;
}

.setting ul li a:hover {
    color: #1B48DA;
    background: #F3F7FD;
}

.icons:hover {
    color: #1B48DA;
}

.setting {
    padding-left: 10px;
    padding-top: 5px;
}


/* Hamburger Menu Button */

.hamburger-menu {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
}


/* Media Queries for Responsiveness */

@media screen and (max-width: 768px) {
    .cuvette-image {
        display: none;
    }
    .sidebar {
        transform: translateX(-100%);
    }
    .sidebar.active {
        transform: translateX(0);
    }
    .hamburger-menu {
        display: block;
        z-index: 5;
    }
    .dash {
        padding-top: 80px;
    }
}